<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FinanceManagement_BusinessLogic.Properties.Settings.FinanceManagementConnectionString"
            connectionString="Data Source=.\SQLEXPRESS2012;Initial Catalog=FinanceManagement;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>